* {
  transition: 0.2s;
}
body {
  background-color: rgb(0, 0, 0);
  color: greenyellow;
}

h1 {
  text-align: center;
}

.container {
  font-size: 50px;
  position: absolute;
  left: 25%;
  top: 25vh;
  height: 40vh;
  width: 100vh;
  color: black;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
  border: blue 2px ease;
  border-radius: 10px;
}

.mousemove {
  height: 50px;
  width: 50px;
  border: 5px solid purple;
  background-color: #fff;
  position: absolute;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  transition: 0.1s ease;
  z-index: -1;
}

.pickers {
  display: flex;
  justify-content: space-around;
}

.copy-color {
  display: flex;
  justify-content: space-around;
  color: rgb(0, 0, 0);
}

#copy-text-color {
  position: absolute;
  top: 80vh;
  left: 30%;
}

#copy-bg-color {
  position: absolute;
  top: 80vh;
  left: 60%;
}

.box-copy {
  display: block;
}

#copy-text {
  position: absolute;
  top: 100vh;
  left: 35%;
  height: 10px;
  background-color: #fff;
  color: #fff;
}

#copy-bg {
  position: absolute;
  top: 90vh;
  left: 65%;
  height: 10px;
}

.button:after {
  background: #2c3e50;
}
.ctn {
  display: block;
  margin: auto;
  text-align: center;
}
.b-pink,
.b-pink:before {
  background: rgba(231, 72, 234, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(231, 72, 234, 1) 0%,
    rgba(75, 26, 188, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(231, 72, 234, 1)),
    color-stop(100%, rgba(75, 26, 188, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(231, 72, 234, 1) 0%,
    rgba(75, 26, 188, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(231, 72, 234, 1) 0%,
    rgba(75, 26, 188, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(231, 72, 234, 1) 0%,
    rgba(75, 26, 188, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(231, 72, 234, 1) 0%,
    rgba(75, 26, 188, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e748ea', endColorstr='#4b1abc', GradientType=1 );
}

.button {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 2em;
  font-weight: bold;
  transition: all 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.75);
}
.button:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}
.button:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.5s;
}
.button:after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.5s;
}
